.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 18px auto 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 501px;
}

.u-section-2 .u-form-1 {
  height: 313px;
  width: 570px;
  margin: -327px auto 60px;
}

.u-section-2 .u-text-1 {
  margin-left: 0;
}

.u-section-2 .u-form-group-4 {
  margin-left: 0;
}

.u-section-2 .u-form-group-5 {
  margin-left: 0;
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}